* {
    font-family: "Montserrat";
}

body {
    margin: 0;
    padding: 8px;
    max-width: 98vw;
    overflow-x: hidden;
    background-color: #eeeeee;
}

#mainContainer {
    display: flex;
    max-width: 100%;
    min-height: calc(100vh - 241px);
}

#aside {
    width: 34%;
}

#aside>a {
    display: block;
}

header {
    max-width: 100%;
    min-height: 100px;
    height: 123px;
    background-color: #AAA;
    padding: 16px 36px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-between;
}

a {
    color: #3f596d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.2s ease;
}

a:hover {
    color: #0e074f;
}

.logo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    font-size: 36px;
    font-weight: 600;
    color: #003054;
}

#loginTitle {
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: end;
}

#loginRegisterForm {
    grid-column: 3 / 4;
    grid-row: 2;
    justify-self: end;
    display: flex;
    gap: 4px;
}

#orderTitle {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: end;
}

#menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.formLogin {
    margin-left: 34vw;
    margin-right: 34vw;
    padding-top: 36px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto 1fr 40px;
    align-items: center;
    gap: 24px 10px;
    width: 30vw;
    position: relative;
}

.formLogin>input#login {
    width: 100%;
    grid-column: 1 / 3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.formLogin>input#password,
.formLogin>input#password2 {
    width: 100%;
    justify-self: start;
    grid-column: 1 / 3;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#checkbox,
#checkbox2 {
    justify-self: end;
    grid-column: 3;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 32%;
    right: 12px;
}

#checkbox2 {
    top: 52%;
}

.formLogin>button {
    min-width: 80px;
    grid-column: 2;
    grid-row: 4;
    justify-self: start;

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.formLogin>a {
    justify-self: end;
    grid-column: 2;
    grid-row: 4;
}

.formLogin>p {
    grid-column: 1 / 3;
    grid-row: 5;
    color: red;
}

#orderTitle {
    align-items: end;
}



.category {
    padding: 4px 14px 0 14px;
    width: 20vw;
    background-color: rgba(0, 132, 255, 0.045);
    font-size: 18px;
}

.category:hover {
    background-color: rgba(0, 132, 255, 0.373);
}

.cartHistoryBlockBtn {
    width: 98.7vw;
}

.cartHistoryBtn {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0;
    background-color: rgba(0, 132, 255, 0.384);
    width: 49.5%;
    margin: 0;
    text-align: center;
}

.cartHistoryBtn:hover {
    background-color: rgba(0, 132, 255, 0.493);
}

.historyOrders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 98vw;
}

.oneOrderHistory,
.tytleOrderHistory {
    display: flex;
    padding: 10px;
    margin: 6px;
    gap: 18px;
    border-bottom: 1px solid black;
    width: max-content;
    align-items: center;
}

.oneOrderHistory>a,
.tytleOrderHistory>strong {
    width: 20vw;
}

.oneOrderHistory>div,
.tytleOrderHistory>div {
    width: 10vw;
    text-align: center;
}

.cartOrdersBtnBy,
.cartOrdersBtnDel {
    padding: 10px 0;
    background-color: rgba(4, 255, 0, 0.561);
    width: 63.5%;
    margin-top: 10px;
    text-align: center;
    color: #3f596d;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.cartOrdersBtnDel {
    background-color: rgba(255, 0, 0, 0.447);
    width: 35.5%;
}

.cartOrdersBtnBy:hover {
    background-color: rgba(4, 255, 0, 0.825);
}

.cartOrdersBtnDel:hover {
    background-color: rgba(255, 0, 0, 0.75);
}

.cartOrders {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
}

.cartOrders>div[style="margin: 20px; font-weight: 600; font-size: 24px;"] {
    text-align: center;
}

.oneCartOrders {
    width: 16vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 11vw 26px 26px;
    gap: 10px;
    justify-items: center;
    margin: 12px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.oneCartOrders>a {
    grid-row: 1;
    grid-column: 1/ 3;
}

.oneCartOrders>img {
    grid-row: 2;
    grid-column: 1/ 3;
}

.oneCartOrders>input {
    grid-row: 3;
    grid-column: 1/ 2;
    border: 1px solid #AAA;
    text-align: center;
    font-size: 18px;
    width: 5vw;
    border-radius: 4px;
    box-sizing: border-box;
}

.oneCartOrders>button {
    grid-row: 4;
    grid-column: 2/ 3;
    background-color: white;
    width: 70px;
    height: 26px;
    border-radius: 4px;
    box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.5);
}

.oneCartOrders>div {
    grid-row: 3;
    grid-column: 2/ 3;
}

main>h1 {
    text-align: center;
}

.categoryFindOne {
    width: 26vw;
    display: grid;
    grid-template-rows: 26px 15vw 26px 36px;
    justify-items: center;
    gap: 16px;
    padding: 12px;
    margin: 14px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
}

.categoryFindOne>a {
    grid-row: 1;
    text-align: center;
}

.categoryFindOne>div {
    grid-row: 2;
}

.categoryFindOne>p {
    grid-row: 3;
    margin: 0;
}

.categoryFindOne>button {
    grid-row: 4;

    background-color: #4CAF50;
    border: none;
    color: rgb(224, 224, 224);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.goodCartOne {
    width: 30vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 42px 22vw auto 26px 32px;
    gap: 16px;


    margin: 28px;
    padding: 16px;

    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.goodCartOne>h3 {
    grid-row: 1;
    text-align: center;
}

.goodCartOne>div {
    grid-row: 2;
}

.goodCartOne>.goodCartOneDescr {
    grid-row: 3;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.goodCartOne>p {
    grid-row: 4;
    margin: 0;
    font-size: 22px;
}

.goodCartOne>button {
    grid-row: 5;
    justify-self: end;

    background-color: #4CAF50;
    border: none;
    color: rgb(224, 224, 224);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}


.slider {
    min-width: 400px;
    min-height: 22vw;
    position: relative;
    overflow: hidden;
}

.slider img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider img.active {
    opacity: 1;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 40px;
    width: 40px;
    font-size: 18px;
    background-color: #c6c6c6;
    border-radius: 50%;
    border: none;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}

.slider .prev {
    left: 10px;
}

.slider .next {
    right: 10px;
}

.slider .next:hover,
.slider .prev:hover {
    background-color: #9a9a9a;
    opacity: 0.8;
}

footer {
    max-width: 100%;
    width: 98vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0d2435;
    background-color: #303b8591;
    border-radius: 5px;
    margin: 30px 0 0 0;
}