.products {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    text-align: center;
    justify-content: center;
    margin: 36px;
}

img {
    width: 160px;
}

.oneProduct {
    max-width: 300px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formBasket {
    display: flex;
    justify-content: center;
}
.form, #basket {
    max-width: 300px;
    min-width: 270px;
    margin: 0 36px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
